.services-container {
  display: grid;
  margin: 30px;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.service-container img {
  width: 100%;
}
.section-title {
  text-align: center;
  color: #4d77ff;
}
