header {
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #4d77ff;
  position: sticky;
  top: 0;
  z-index: 1000;
}
nav a {
  text-decoration: none;
  margin-left: 20px;
  font-size: 25px;
  padding: 7px 15px;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;
  color: #fff;
}
nav a:hover {
  border-color: #c7c9d9;
}
.menu-icon {
  background-color: #4d77ff;
  border: none;
  display: none;
}
@media only screen and (max-width: 576px) {
  header {
    position: static;
  }
  .menu-icon {
    display: block;
  }
  nav {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: absolute;
    background-color: #4d77ff;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }
  nav a {
    margin: 0;
  }
}
